.u-section-1 .u-sheet-1 {
  min-height: 736px;
}

.u-section-1 .u-text-1 {
  font-family: "Press Start 2P";
  font-size: 1.5rem;
  margin: 33px 162px 0 auto;
}

.u-section-1 .u-text-2 {
  font-family: "Press Start 2P";
  font-size: 1.5rem;
  margin: -19px auto 0 219px;
}

.u-section-1 .u-image-1 {
  width: 131px;
  height: 131px;
  margin: -38px auto 0 68px;
}

.u-section-1 .u-group-1 {
  width: 431px;
  min-height: 604px;
  margin: -111px 40px 0 auto;
}

.u-section-1 .u-group-2 {
  min-height: 604px;
  margin: 0 auto;
}

.u-section-1 .u-group-3 {
  min-height: 604px;
  margin: 0 auto;
}

.u-section-1 .u-group-4 {
  min-height: 604px;
  margin: 0 auto;
}

.u-section-1 .u-gallery-1 {
  height: 564px;
  width: 131px;
  margin: 20px 280px 0 20px;
}

.u-section-1 .u-gallery-inner-1 {
  grid-gap: 20px 20px;
  grid-template-columns: auto;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-text-3 {
  font-family: "Press Start 2P";
  font-size: 1.5rem;
  margin: -544px 116px 0 auto;
}

.u-section-1 .u-text-4 {
  font-family: "Press Start 2P";
  font-size: 1rem;
  margin: 0 auto 0 171px;
}

.u-section-1 .u-text-5 {
  font-family: "Press Start 2P";
  font-size: 1rem;
  margin: 4px 20px 0 auto;
}

.u-section-1 .u-text-6 {
  font-family: "Press Start 2P";
  font-size: 1.5rem;
  margin: 50px 116px 0 auto;
}

.u-section-1 .u-text-7 {
  font-family: "Press Start 2P";
  font-size: 1rem;
  margin: 0 auto 0 171px;
}

.u-section-1 .u-text-8 {
  font-family: "Press Start 2P";
  font-size: 1rem;
  margin: 4px 36px 0 auto;
}

.u-section-1 .u-text-9 {
  font-family: "Press Start 2P";
  font-size: 1.5rem;
  margin: 55px 68px 0 auto;
}

.u-section-1 .u-text-10 {
  font-family: "Press Start 2P";
  font-size: 1rem;
  margin: 0 auto 0 171px;
}

.u-section-1 .u-text-11 {
  font-family: "Press Start 2P";
  font-size: 1rem;
  margin: 4px 84px 0 auto;
}

.u-section-1 .u-text-12 {
  font-family: "Press Start 2P";
  font-size: 1.5rem;
  margin: 53px 20px 0 auto;
}

.u-section-1 .u-text-13 {
  font-family: "Press Start 2P";
  font-size: 1rem;
  margin: 1px 132px 0 171px;
}

.u-section-1 .u-text-14 {
  font-family: "Press Start 2P";
  font-size: 1rem;
  margin: 4px 36px 0 auto;
}

.u-section-1 .u-text-15 {
  font-family: "Press Start 2P";
  font-size: 1rem;
  margin: -585px auto 0 219px;
}

.u-section-1 .u-text-16 {
  font-family: "Press Start 2P";
  font-size: 1rem;
  margin: 4px auto 0 219px;
}

.u-section-1 .u-form-1 {
  height: 57px;
  margin: -9px 585px 0 199px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-input-1 {
  height: 16px;
}

.u-section-1 .u-btn-1 {
  font-family: "Press Start 2P";
  padding: 0 30px;
}

.u-section-1 .u-text-17 {
  font-family: "Press Start 2P";
  font-size: 1.5rem;
  margin: 20px auto 0 29px;
}

.u-section-1 .u-text-18 {
  font-family: "Press Start 2P";
  margin: 35px auto 0 115px;
}

.u-section-1 .u-image-2 {
  width: 50px;
  height: 50px;
  margin: -68px auto 0 49px;
}

.u-section-1 .u-text-19 {
  font-family: "Press Start 2P";
  margin: 43px auto 0 115px;
}

.u-section-1 .u-image-3 {
  width: 50px;
  height: 50px;
  margin: -62px auto 60px 49px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    width: 264px;
  }

  .u-section-1 .u-group-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-1 .u-text-15 {
    width: 64px;
  }

  .u-section-1 .u-text-16 {
    width: 224px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 485px;
    margin-left: 99px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-right: 364px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-left: 164px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 164px;
  }

  .u-section-1 .u-text-16 {
    margin-left: 164px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 184px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 102px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 103px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-gallery-1 {
    margin-right: 209px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 92px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 135px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 92px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 135px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 135px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 87px;
    margin-left: 126px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 103px;
  }

  .u-section-1 .u-text-16 {
    margin-left: 103px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-18 {
    margin-left: 72px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 72px;
  }
}